<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martial Arts Club {% block title %}{% endblock %}</title>
    <style>
        @import "/../css/style.css";
        @import "/../css/nav.css";
    </style>
</head>
<body>

{% block main %}
<!-- start table for displaying DVD details -->
<h2>Welcome to the admin page</h2>

    <p>
        <div id="beware"> <h2><b>be careful of your actions in this page they can not be reversed</b></div></h2>
    </p>

<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Last Grade </th>
        <th> Current Grade </th>
        <th> Date Joined </th>
        <th> Update User</th>
        <th> Delete User</th>


    </tr>

{% for student in students %}
    <tr>
        <td> {{ student.id }}</td>
        <td>{{ student.username }}</td>
        <td>{{ student.lastGrade }}</td>
        <td>{{ student.currentGrade }}</td>

        <td>{{ student.dateJoined }}</td>
        <td>
            <a href="/updateUser/{{ student.id }}"><input type="button" value="UPDATE"></a>
        </td>

        <td>
            <form action="/deleteUser/{{ student.id }}" method="post"><input type="submit" value="DELETE"></form>
        </td>
    </tr>
{% endfor %}

</table>

    <p>
        TO add a new student to the system please click the link <a href="/addUser"><input type="button" value="Add User"></a>
    </p>

    <p>
        The latest user activity in the club
    </p>
    <table>
        <tr>
            <th> ID </th>
            <th> Date and Time </th>
            <th> Name</th>




        </tr>

        {% for attendences in attendendee %}
            <tr>
                <td> {{ attendences.id }}</td>
                <td>{{ attendences.date }}</td>

                <td>{{ attendences.username }}</td>



            </tr>
        {% endfor %}

    </table>

    <p>
        <a href="/logout"><input type="button" value="Logout"></a>
    </p>

{% endblock %}
