<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martial Arts Club {% block title %}{% endblock %}</title>
    <style>
        @import "/../css/style.css";
        @import "/../css/nav.css";
    </style>
</head>
<body>

{% block main %}
<!-- start table for displaying DVD details -->
<h2>welcome to the admin page</h2>

    <p>
        be careful of your actions in this page
    </p>

<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Last Grade </th>
        <th> Current Grade </th>
        <th> Date Joined </th>
        <th> Update User</th>
        <th> Delete User</th>


    </tr>

{% for student in students %}
    <tr>
        <td> {{ student.id }}</td>
        <td>{{ student.username }}</td>
        <td>{{ student.lastGrade }}</td>
        <td>{{ student.currentGrade }}</td>

        <td>{{ student.dateJoined }}</td>
        <td>
            <a href="/updateUser/{{ student.id }}"><input type="button" value="UPDATE"></a>
        </td>

        <td>
            <form action="/deleteUser/{{ student.id }}" method="post"><input type="submit" value="DELETE"></form>
        </td>
    </tr>
{% endfor %}

</table>

    <p>
        TO add a new student to the system please click the link <a href="/addUser"><input type="button" value="Add User"></a>
    </p>

    <p>
        <a href="/logout">Logout</a>
    </p>

{% endblock %}
